.header {
    display: flex;
}

.footer {
    display: flex;
    height: 80px;

    div[data-slot="inner"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
}