.header {
    display: flex;

    .top_bar {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form {
        display: block;
        padding-bottom: 10px;

    }
    
    .nav {
        scrollbar-width: none;
        padding-bottom: 10px;
        overflow-x: scroll;
        
        div[data-slot="container"] {
            width: max-content;
            display: flex;
        }

    }
}

.footer {
    display: block;
    height: 80px;

    div[data-slot="inner"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
}