.container {
    display: block;
    width: 100%;
    height: 100%;

    .nav_inner {
        padding-top: 172px;
        .section {
            display: block;
            padding: 0 20px;
        }
    }

    .container_inner {
        padding-top: 60px;

        .ph_info {
            display: block;
            padding: 0 20px;
            margin-top: 30px;

            .ph_box {
                display: block;

                .ph_star {
                    display: flex;
                    align-items: center;

                    span {

                        &:first-child {
                            color: #F5A524;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    display: block;
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    z-index: 99;
}