.pharmacy_item {
    display: block;

    .top_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .btm_item {
        display: block;
        p[data-slot="text_medium"] {

            &:first-child{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
        
                padding-bottom: 5px;
            }
        }
    }

}

.active_like {
    p, svg {
        color: red !important;
    }
}

.pharmacy_info {
    display: block;
    padding-top: 20px;

    .pharmacy_header {
        p[data-slot="text_medium"] {
            text-wrap: pretty;
        }
        
        .top_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
        }
    
        .btm_item {
            display: block;
        }
    }
    

    .pharmacy_content {
        display: flex;
        align-items: center;
        margin-top: 20px;

        & > div {
            margin-right: 10px;

            &:last-child {
                margin-right: 0px;
            }

            & > span {
                display: flex;
    
                & p[data-slot="text_medium"] {
                    margin-left: 5px;
                }
            }   
        }
    }

    .pharmacy_date {
        display: block;
        margin-top: 20px;
    }
}

.pharmacy_rank_container {
    display: block;
    margin-top: 20px;

    .pharmacy_rank_List {
        display: block;

        &:first-child {
            margin-bottom: 30px;
        }
    }
}