.reply_item {
    margin-top: 20px;
    display: flex;

    .left_box {
        display: block;
    }

    .right_box {
        margin-left: 20px;
        display: block;

        & > p {
            &:first-child {
                margin-bottom: 10px;
            }
        }
    }
}

.reply_form {
    display: block;
    margin-top: 20px;

    h1[data-slot="text_large"] {
        margin-bottom: 20px;
    }

    div[data-slot="base"] {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}