.container {
    display: block;
    margin-top: 30px;

    .review_box {
        display: block;
        margin-bottom: 30px;

        div[data-slot="inner"] {
            h1[data-slot="text_large"] {
                margin-bottom: 10px;
            }
        }
    }

    .review_list {
        display: block;

        .review_item {
            display: block;

            .review_header {
                .top_item {
                    display: block;
                }

                .btm_item {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;

                    p[data-slot="text_medium"] {
                        margin-left: 20px;
                    }
                }

                margin-bottom: 10px;
            }

            .review_content {
                display: inline-block;
                max-width: 70%;
                overflow: hidden;
                word-wrap: break-word;
            }
        }
    }
}

.header {
    height: 60px;
    position: relative;

    div[data-slot="inner"] {
        display: flex;
        align-items: center;
    }

    h1[data-slot="text_xlarge"] {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.form {
    margin-top: 20px;

    &>div[data-slot="inner"] {
        h1[data-slot="text_large"] {
            margin-bottom: 10px;
        }

        & > div {
            margin-bottom: 20px;
        }
    }
}