.container {
    display: block;

    .review_list {
        display: block;

        .review_item {
            display: block;

            .top_item {
                display: block;
            }

            .btm_item {
                display: block;
            }
        }
    }
}

.header {
    height: 60px;
    position: relative;

    div[data-slot="inner"] {
        display: flex;
        align-items: center;
    }

    h1[data-slot="text_large"] {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.form {
    margin-top: 20px;

    & > div[data-slot="inner"] {
        h1[data-slot="text_large"] {
            margin-bottom: 10px;
        }

        & > div {
            &:nth-child(2) {
                margin-bottom: 20px;
            }
            &:nth-child(3) {
                margin-bottom: 30px;
            }
        }
    }
}