<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<div class="container">
    <h1>회원 가입</h1>
    <form action="/api/auth/signup" method="POST">
        <div class="input-group mb-3">
            <span class="input-group-text">userName</span>
            <input type="text" name="userName" class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">password</span>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">EMAIL</span>
            <input type="email" name="email" class="form-control">
        </div>
        <div class="my-4">
            <div class="float-end">
                <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>