<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>여러개 마커 표시하기</title>
</head>
    <body>

        <div id="map" style="width:500px;height:350px;"></div>


        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2394155f8d491f33d2e132cb5633c658&libraries=services"></script>
        <script>

            let query = window.location.search;
            let param = new URLSearchParams(query);
            const city = param.get('city')
            const lat = param.get('lat')
            const long = param.get('long')
            document.form.city.value = city;
            document.form.lat.value = lat;
            document.form.long.value = long;

            var infowindow = new kakao.maps.InfoWindow({zIndex:1});

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(lat, long), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            // 지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);


            for(var i = 0; i<pharmacy.length; i ++) {
                // 마커를 생성하고 지도에 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(pharmacy[i].phX, pharmacy[i].phy)
                });
            }

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function() {
                // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
                infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + place.road_address_name + '</div>' +
                    '<div style="padding:5px;font-size:12px;">' + place.phone + '</div>' +
                    '<a href="/pharmacyInfo?tel='+place.phone+'">병원정보</a>');
                infowindow.open(map, marker);
            });

        </script>
    </body>
</html>