<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>여러개 마커 표시하기</title>
</head>
    <body>

    <a href="/sample/home">홈</a>

    <form action="/map/searchResult2" name="form" method="get" >
        키워드 : <input type="text" name="keyword"><br>
        <input type="hidden" name="lat" value="" ><br>
        <input type="hidden" name="long" value="" ><br>
        <input type="hidden" name="city" value="" ><br>
        <button type="submit">검색</button>
    </form>
        <div id="map" style="width:500px;height:350px;"></div>


        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2394155f8d491f33d2e132cb5633c658&libraries=services,clusterer"></script>
        <script th:inline="javascript">

            // 약국 정보
            var pharmacyDTO = [[${pharmacyDTO}]];

            console.log(pharmacyDTO)

            let query = window.location.search;
            let param = new URLSearchParams(query);

            const city = param.get('city') // 지역 카테고리
            const lat = param.get('lat') // 지역 위도
            const long = param.get('long') // 지역 경도

            document.form.city.value = city
            document.form.lat.value = lat
            document.form.long.value = long

            // var infowindow = new kakao.maps.InfoWindow({zIndex:1});

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(lat, long), // 지도의 중심좌표
                    level: 7 // 지도의 확대 레벨
                };

            // 지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);

            for(var i = 0; i<pharmacyDTO.length; i++) {
                // 마커를 생성하고 지도에 표시합니다
                var marker = new kakao.maps.Marker({
                    position: new kakao.maps.LatLng(pharmacyDTO[i].phY, pharmacyDTO[i].phX)
                });

                marker.setMap(map);
                console.log(pharmacyDTO[i].phID)
                var iwContent = '<div style="padding:5px;font-size:12px;">' + pharmacyDTO[i].phName + '</div>' + // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                      '<div style="padding:5px;font-size:12px;">' + pharmacyDTO[i].phTel + '</div>' +
                      '<div style="padding:5px;font-size:12px;">' + pharmacyDTO[i].phAdd + '</div>' +
                        '<a href="/sample/pharmacyInfo?phID='+pharmacyDTO[i].phID+'">병원 상세정보</a>',
                    iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

                // 인포윈도우를 생성합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content : iwContent,
                    removable : iwRemoveable
                });

                // 마커에 클릭이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'click', function() {
                    // 마커 위에 인포윈도우를 표시합니다
                    infowindow.open(map, marker);
                });

            }







        </script>
    </body>
</html>