<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>약국 정보</h1>
<div th:text="${pharmacyDTO.phName}"></div>
<div th:text="${pharmacyDTO.phTel}"></div>
<div th:text="${pharmacyDTO.phAdd}"></div>
<div th:text="${pharmacyDTO.timeWeekStartDate}"></div>
<div th:text="${pharmacyDTO.timeWeekEndDate}"></div>
<div th:text="${pharmacyDTO.timeSatStartDate}"></div>
<div th:text="${pharmacyDTO.timeSatEndDate}"></div>
<div th:text="${pharmacyDTO.timeHoliStartDate}"></div>
<div th:text="${pharmacyDTO.timeHoliEndDate}"></div>


</body>

</html>