<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지역 카테고리</title>
</head>
<body>

<a href="/map/categoryResult?city=서대문구">서대문구</a>
<a href="/map/categoryResult?city=서초구">서초구</a>
<a href="/map/categoryResult?city=강남구">강남구</a>
<a href="/map/categoryResult?city=송파구">송파구</a>
<a href="/map/categoryResult?city=강동구">강동구</a>
<a href="/map/categoryResult?city=영등포구">영등포구</a>
<a href="/map/categoryResult?city=종로구">종로구</a>
<a href="/map/categoryResult?city=중구">중구</a>
<a href="/map/categoryResult?city=용산구">용산구</a>
<a href="/map/categoryResult?city=성동구">성동구</a>
<a href="/map/categoryResult?city=광진구">광진구</a>
<a href="/map/categoryResult?city=동대문구">동대문구</a>
<a href="/map/categoryResult?city=중랑구">중랑구</a>
<a href="/map/categoryResult?city=성북구">성북구</a>
<a href="/map/categoryResult?city=강북구">강북구</a>
<a href="/map/categoryResult?city=도봉구">도봉구</a>
<a href="/map/categoryResult?city=노원구">노원구</a>
<a href="/map/categoryResult?city=은평구">은평구</a>
<a href="/map/categoryResult?city=마포구">마포구</a>
<a href="/map/categoryResult?city=양천구">양천구</a>
<a href="/map/categoryResult?city=강서구">강서구</a>
<a href="/map/categoryResult?city=구로구">구로구</a>
<a href="/map/categoryResult?city=김천구">김천구</a>
<a href="/map/categoryResult?city=동작구">동작구</a>
<a href="/map/categoryResult?city=관악구">관악구</a>

</body>
</html>